@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-weight: 500;
  color: whitesmoke;
}

/* ////////////////////////////////// */

.custom-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.g-1 {
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(1, 200px);
}

.g-2 {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(1, 100%);
  gap: 2px;
}

.g-3 {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  gap: 2px;
}

.g-3 img:nth-child(3) {
  grid-column: span 2;
}

.g-4 {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  gap: 2px;
}

.g-5 {
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(2, 50%);
  gap: 2px;
}

.g-5 img:nth-child(5) {
  grid-column: span 2;
}

.g-6 {
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(2, 50%);
  gap: 2px;
}

.custom-shadow {
  box-shadow: rgba(209, 209, 209, 0.302) 0px 3px 8px;
}

.blue:hover {
  color: #1d9bf0;
}

.yellow:hover {
  color: #ffd400;
}

.pink:hover {
  color: #f91880;
}

.purple:hover {
  color: #7856ff;
}

.orange:hover {
  color: #ff7a00;
}

.green:hover {
  color: #00ba7c;
}

.bg-black:hover {
  background: #0d0d0d;
}

.bg-blue:hover {
  background: #212e3c;
}

.age::-webkit-outer-spin-button,
.age::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-ratio {
  aspect-ratio: 3 / 1;
}
